*.scrollBar: false
*transparent: true
*shading: 10
*.font: xft:bitstream vera sans mono:size=8:antialias=true
*.boldFont: xft:bitstream vera sans mono:bold:size=8:antialias=true

*.keysym.Shift-Control-V: eval:paste_clipboard
*.keysym.Shift-Control-C: eval:selection_to_clipboard
*.iso14755: false
*.iso14755_52: false
